h1{
    border-radius: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    background-color: darkturquoise;
    text-align: center;
}


.jour{
   
    border-radius: 0.3rem;
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: sandybrown;
}

h2{
    border-radius: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    background-color: fuchsia;
    text-align: center;
}